---
Checks: "clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-avoid-do-while,modernize-*,-modernize-use-trailing-return-type,performance-*,readability-*,-readability-function-cognitive-complexity,-*-magic-numbers"
WarningsAsErrors: true
